@import "./vars";
html{
    @include noMorp();
    --backColor: #1d1d1b;        //Variable para requisitos
    body{
        @include noMorp();
        background-color: var(--backColor);
        overflow-x: hidden;
    }
}
.page{
    @include flexCenter( center );
    height: 100vh;
    width: 100vw;
    z-index: 20;
}
.nav{
    position: fixed;
    @include flexCenter( row );
    @include noMorp();
    width: 100vw;
    height: 150px;
    justify-content: space-evenly;
    background: transparent;
    z-index: 20;
    .options{
        @include flexCenter( row );
        @include noMorp();
        justify-content: space-evenly;
        width: 85%;
        height: 100%;
        background: inherit;
        list-style: none;
        .option{
            @include flexCenter( row );
            @include noMorp();
            width: fit-content;
            height: 50%;
            padding: 0.5em 2em 0.5em 2em;
            height: 40%;
            min-height: auto;
            border-radius: 50px;
            color: $lb;
            list-style: none;
            font-size: 20px;
            background-color: $g;
            box-shadow:  3px 0px 7px rgba($color: $g, $alpha: 0.6);
            // box-shadow: 3px 0 7px rgb(0, 0, 0, 0.3);
        }
        .mainO{
            color: $b;
            background-color: $db;
        }
    }
}
.main{
    @include flexCenter( column );
    @include noMorp();
    position: relative;
    .photo{
        @include flexCenter( row );
        @include noMorp();
        width: 330px;
        height: 330px;
        background: url('./src/selfie.jpg');
        background-position: top;
        background-size: 100% auto;
        border-radius: 50%;
        border: 3px solid $b;
    }
    .name{
        color: $b;
        font-size: 25px;
    }
    .title_{
        color: $lb;
        font-size: 60px;
    }
}
.knowme{
    @include flexCenter( column );
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: $b;
    z-index: 20;
    h3{
        font-size: 15px;
        margin-bottom: 5px;
    }
    &:hover{
        cursor: pointer;
    }
}
.circle{
    position: fixed;
    background: $db;
    opacity: .6;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    z-index: -1;
}
#c1{
    background: $lb;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
#c2{
    bottom:0;
    right: 0;
    transform: translate(+50%, +50%);
}